.site-layout-background {
  background: #fff;
}

.site-page-header {
  .ant-page-header-ghost {
    background-color: #00162b;
  }
  .ant-page-header-heading-title {
    color: white;
  }
  .trigger {
    color: #fff;
  }

  .books-search-bar {
    width: 20%;
  }
}
