.login-wrapper {
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.login-logo {
  display: flex;
  .app-title {
    margin-top: 15px;
  }
}

.descripton-login {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  color: gray;
}

.login-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  margin-top: 60px;

  .fields-field-style {
    width: 330px;
    font-size: 16px;
    text-align: left;

    .login-input-style {
      height: 40px;
      color: black;
      font-size: 15px;
    }
  }

  .login-form-button {
    width: 330px;
    height: 40px;
    font-size: 16px;
  }
  .rememberMe {
    width: 100%;
  }
}
