header {
  background-color: rgb(221, 221, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding: 0 50px;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}
.searchBar {
  flex: 1;
}

.searchBar button {
  border: none;
  background-color: rgb(221, 221, 20);

  cursor: pointer;
  font-size: 1.5em;
}

.title {
  flex: 2;
  gap: 15px;
}

.rightCont {
  flex: 1;
}
.rightCont i {
  font-size: 1.1em;
}
.favoritesAndBucket {
  position: relative;
  width: max-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
#searchByCategory {
  border: none;
  background-color: rgb(221, 221, 20);
  color: gray;
  border-bottom: 1px solid blue;
  width: 250px;
  outline: none;
  font-size: 1.4em;
}

.logoHeader {
  border-radius: 20px;
  width: 90px;
  height: auto;
}

.favoritesAndBucket {
  font-size: 1.5em;
  gap: 40px;
  margin-right: 2%;
}
.favoritesAndBucket div {
  margin-right: 20px;
}
.favoritesAndBucket div i {
  margin: auto 10px;
}
.favorites {
  display: flex;
  align-content: flex-end;
}

.favorites:hover,
.bucket:hover,
.addBook:hover {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    height: 300px;
  }
  header > div {
    display: block;
  }
}
