.books-table-container {
  width: 100%;

  .button-and-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .books-search-bar {
    width: 40%;
    margin-bottom: 10px;
  }
}

.title {
  color: rgb(0, 166, 255);
}
