.notFoundWrapper {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  margin-top: 60px;
  .code {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
.notFoundImage {
  width: 40%;
  height: auto;
}
