.favBooks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likedBooksTitle {
  text-align: center;
}
.likedBooks ul {
  list-style-type: none;
  margin-top: 30px;
}
.likedBooks ul li {
  margin: 10px;
  text-align: center;
}
.likedBooks ul li {
  color: #2f4f4f;
}
.likedBooks ul li h3 {
  color: rgb(48, 41, 41);
}
.likedBooks ul li img {
  width: 80px;
  height: auto;
}

.likedBooks button {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
}
.likedBooks button:hover {
  background-color: #45a049;
}

.likedComponent i {
  font-size: 1.9em;
  cursor: pointer;
}
.likedComponent i:hover {
  color: black;
}
