.book {
  width: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 20px;
}
.image-book {
  flex-shrink: 1;
  width: 100%;
  margin-bottom: 20px;
  height: 450px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.author {
  color: gray;
  text-align: center;
}
.price {
  margin: 20px 0;
  text-align: center;
  color: gold;
  font-size: 30px;
}

.book:hover {
  box-shadow: 0px 0px 10px 0px gray;
  cursor: pointer;
}

.cartAndLike i {
  font-size: 1.8em;
}
.cartAndLike i:hover {
  color: red;
}
.liked {
  color: red;
}
.addToCartButton {
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  background-color: #07c27d;
  color: white;
}
.addToCartButton:hover {
  cursor: pointer;
  background-color: #45a049;
}
