.todoItem {
  padding: 7px 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 6px 0;
  margin-right: 35px;
}

.todoItem div {
  position: absolute;
  right: 50px;
  top: 20px;
}
.todoItem button {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
}
.todoItem button:hover {
  cursor: pointer;
}
.decoratedText {
  text-decoration: line-through;
}
#textdecoration {
  background-color: rgb(26, 189, 26);
}
#delete {
  background-color: red;
}
